:root {
    --color-surface: #ECDCF1;
    --color-card: #FCF5FE;
    --color-accent: #AA7BB8;
    --color-heading: #551866;
    --color-body: #280233;
    --color-shadow: #28023350;
    --color-notice: #FFB006;
    --color-action: #3CAB8C;
    --body-font: "Roboto Mono", Consolas, ui-monospace, 'Source Code Pro', Menlo, monospace;
    --display-font: "Michroma", Corbel, Tahoma, Avenir, Montserrat,  sans-serif;
    --base-font-size: 10px;
    --scaled-font: clamp(1.2rem, 3vw, 2rem);
    --line-height: calc(var(--scaled-font)*1.8);
    --measure: clamp(35ch, 80vw, 75ch);
    --space-card: clamp(2rem, 4vw, 3rem);

}
/* Selective Reset */
*, *::before, *::after { 
    box-sizing: border-box; 
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, section {
    margin: 0; /* removes the white margin around the edges of the entire page  - the header color now appears full-bleed */
}

button {
    font: inherit; /* resets the styling on the button text, so it matches the tokenized action 'button' */
    border: none;  /* removes the outer border to match the tokenized action 'button' */
}

/* Styling */
html {
    font-size: var(--base-font-size);
}

body {
    background-color: var(--color-surface);
    color: var(--color-body);
    font-size: var(--scaled-font);
    line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6, dt, th, .metadata, header p {
    font-family: var(--display-font);
    font-weight: bold;
    color: var(--color-heading);
}

header {
    background-color: var(--color-heading);
    padding: var(--space-card);
    margin-bottom: var(--space-card);
    line-height: calc(var(--line-height)*1.3);
}

header h1, header p {
    color: var(--color-card);
}

main { 
    display: grid; 
    max-width: 100rem; 
    margin: 0 auto;
}

.card { 
    padding: var(--space-card); 
    background: var(--color-card); 
    border: 1px solid #d0d0d0; 
    border-radius: .5rem; 
    font-family: var(--body-font);
    margin: var(--base-font-size);
    box-shadow: 2px 2px 5px var(--color-shadow);
}

h1 {
    margin: var(--space-card) 0;
}

h2, h3, h4, h5, h6 {
    margin: var(--base-font-size) 0;
}

p {
    margin: var(--base-font-size) 0;
}

.metadata, th, dt {
    font-size: calc(var(--scaled-font)*.8);
}

table {
    width: 100%;
	border-spacing: 0px;
}

td, th {
	padding: var(--scaled-font) 0 var(--scaled-font) 0;
    text-align: center;
    width: 30%;
}

tr {
    margin: var(--scaled-font) 0;
}

th {
	position: relative;
}

.color-swatch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--space-card);
    height: var(--space-card);
    background-color: var(--color-surface);
    border: 1px solid black;
    border-radius: 50%;
}

.color-card {
    background-color: var(--color-card);
}

.color-accent {
    background-color: var(--color-accent);
}

.color-heading {
    background-color: var(--color-heading);
}

.color-body {
    background-color: var(--color-body);
}

.color-notice {
    background-color: var(--color-notice);
}

.color-action {
    background-color: var(--color-action);
}


/* Table styling for mobile devices */
@media screen and (max-width:767px) {
    table, thead, tbody, tr, td, th {
		display: block;
        width: 100%;
	}

	thead tr {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
    /*
	tr {
		border: 1px solid var(--color-accent);
	}
    */
	td {
		padding: var(--scaled-font) 0 var(--scaled-font) 45%;
		word-break: break-word;
		border: none;
		border-bottom: 1px solid var(--color-accent); 
		position: relative;
	}

	td:before {
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
        font-size: var(--base-font-size);
		font-weight: bold;
	}

	td:nth-of-type(1):before { content: 'Token Name';}
	td:nth-of-type(2):before { content: 'Rendered Value';}
	td:nth-of-type(3):before { content: 'Intended Usage';}
}