:root {
    --color-surface: #ECDCF1;
    --color-card: #FCF5FE;
    --color-accent: #AA7BB8;
    --color-accent-shadow: #AA7BB850;
    --color-heading: #551866;
    --color-body: #280233;
    --color-shadow: #28023350;
    --color-notice: #FFB006;
    --color-action: #3CAB8C;
    --body-font: "Roboto Mono", Consolas, ui-monospace, 'Source Code Pro', Menlo, monospace;
    --display-font: "Michroma", Corbel, Tahoma, Avenir, Montserrat,  sans-serif;
    --base-font-size: 10px;
    --scaled-font: clamp(1.2rem, 2.1vw, 2rem);
    --line-height: calc(var(--scaled-font)*1.8);
    --measure: clamp(35ch, 65vw, 75ch);
    --space-card: clamp(2rem, 4vw, 3rem);

}
/* Selective Reset */
*, *::before, *::after { 
    box-sizing: border-box; 
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, section {
    margin: 0; /* removes the white margin around the edges of the entire page  - the header color now appears full-bleed */
}

button {
    font: inherit; /* resets the styling on the button text, so it matches the tokenized action 'button' */
    border: none;  /* removes the outer border to match the tokenized action 'button' */
}

/* Styling */
html {
    font-size: var(--base-font-size);
}

body {
    background-color: var(--color-surface);
    color: var(--color-body);
    font-size: var(--scaled-font);
    line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6, dt, th, .metadata, header p {
    font-family: var(--display-font);
    font-weight: bold;
    color: var(--color-heading);
}

h1 { font-size: calc(var(--scaled-font)*2); }

h2 { font-size: calc(var(--scaled-font)*1.5); }

h3 { font-size: calc(var(--scaled-font)*1.2); }

header {
    background-color: var(--color-heading);
    padding: var(--space-card);
    margin-bottom: var(--space-card);
    line-height: calc(var(--line-height)*1.3);
}

header h1, header p {
    color: var(--color-card);
}

main { 
    display: grid; 
    max-width: 100rem; 
    margin: 0 auto;
}

.card { 
    padding: var(--space-card); 
    background: var(--color-card); 
    border: 1px solid #d0d0d0; 
    border-radius: .5rem; 
    font-family: var(--body-font);
    margin: var(--base-font-size);
    box-shadow: 2px 2px 5px var(--color-shadow);
    display: grid;
}

.compact-label {
    background-color: var(--color-accent-shadow);
    color: var(--color-heading);
    font-variant: small-caps;
    padding: var(--base-font-size);
    margin: var(--base-font-size);
    border-radius: var(--base-font-size);
    font-weight: bold;
}

.alt-sample { background: var(--color-heading); }
.alt-sample .metadata, .alt-sample h3, .alt-sample p { color: var(--color-card); }
.alt-sample .metadata { color: var(--color-notice); }
.alt-sample .compact-label { color: var(--color-body); background-color: var(--color-notice);}

.callout-sample { background: var(--color-notice); }
.callout-sample .metadata, .callout-sample h3, .callout-sample p { color: var(--color-body); }
.callout-sample .metadata { color: var(--color-heading); }
.callout-sample .compact-label { color: var(--color-body); background-color: var(--color-action);}

h1 {
    margin: var(--space-card) 0;
}

h2, h3, h4, h5, h6 {
    margin: var(--base-font-size) 0;
}

p {
    margin: var(--base-font-size) calc(var(--base-font-size)*2);
    max-width: var(--measure);
}

.metadata, th, dt {
    font-size: calc(var(--scaled-font)*.8);
}

table {
    width: 100%;
	border-spacing: 0px;
    table-layout: fixed;
}

td, th {
	padding: var(--scaled-font) 0 var(--scaled-font) 0;
    text-align: center;
}

tr {
    margin: var(--scaled-font) 0;
}

th {
	position: relative;
}

.color-swatch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--space-card);
    height: var(--space-card);
    background-color: var(--color-surface);
    border: 1px solid black;
    border-radius: 50%;
}

.color-card { background-color: var(--color-card); }
.color-accent { background-color: var(--color-accent); }
.color-heading { background-color: var(--color-heading); }
.color-body { background-color: var(--color-body); }
.color-notice { background-color: var(--color-notice); }
.color-action { background-color: var(--color-action); }
.display-font { font-family: var(--display-font); }
.code, code {
    font-family: var(--display-font);
    color: var(--color-heading);
}

.metadata {
    font-variant: small-caps;
}

hr {
    margin: var(--scaled-font) 0;
    border-style: double none double none;
    border-width: 3px;
    color: var(--color-accent);
}

a {
    text-decoration: none;
    color: var(--color-action);
    font-weight: bold;
    padding: calc(var(--base-font-size)/2);
}

.flex {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

a:focus, .focus-link {
    color: var(--color-heading);
    text-decoration: underline;
    border: 3px solid var(--color-notice);
    padding: calc(var(--base-font-size)/2);
    border-radius: .75rem;
    outline: none;
}

a:hover, .hover-link {
    text-decoration: underline;
    color: var(--color-heading);
}

.visited-link { color: var(--color-accent);}

ul, ol {
    padding: 0 calc(var(--scaled-font)*2);
    list-style-position: inside;
}

li::marker {
    color: var(--color-accent);
}

.body-small { font-size: 12px; }
.body-medium { font-size: 16px; }
.body-large { font-size: 20px; }

.h3-small { font-size: 14.4px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h3-medium { font-size: 19.4px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h3-large { font-size: 23.4px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}

.h2-small { font-size: 18px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h2-medium { font-size: 24px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h2-large { font-size: 30px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}

.h1-small { font-size: 24px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h1-medium { font-size: 32px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}
.h1-large { font-size: 40px; font-family: var(--display-font); color: var(--color-heading); font-weight: bold;}

.meta-small { font-size: 10px; font-family: var(--display-font); color: var(--color-heading); font-variant: small-caps; font-weight: bold;}
.meta-medium { font-size: 13px; font-family: var(--display-font); color: var(--color-heading); font-variant: small-caps; font-weight: bold;}
.meta-large { font-size: 16px; font-family: var(--display-font); color: var(--color-heading); font-variant: small-caps; font-weight: bold;}

.fallback1-display { font-family: Corbel, Tahoma, Avenir, Montserrat,  sans-serif; }
.default-display { font-family: sans-serif; }

.fallback1-body { font-family: Consolas, ui-monospace, 'Source Code Pro', Menlo, monospace; }
.default-body { font-family: monospace; }

.short { max-width: 35ch; }
.medium { max-width: 55ch; }
.long { max-width: 75ch; }

button, .primary-button, .secondary-button {
    width: calc(var(--scaled-font) * 8);
    padding: calc(var(--scaled-font) * .7) calc(var(--scaled-font) * 1.1);
    margin: calc(var(--scaled-font) / 2);
    border-radius: var(--base-font-size);
    color: var(--color-card);
    background-color: var(--color-heading);
    font-family: var(--display-font);
    font-weight: bold;
    font-variant: small-caps;
}
.primary-button-hover{
    color: var(--color-body);
    background-color: var(--color-accent);
}
.primary-button-active{
    color: var(--color-body);
    background-color: var(--color-action);
}
.primary-button-focus{
    color: var(--color-body);
    background-color: var(--color-action);
    border: 3px solid var(--color-notice);
}
button:disabled, .primary-button-disabled, .secondary-button-disabled {
    color: var(--color-accent);
    background-color: var(--color-card);
    border: 1px solid var(--color-surface);
}

.secondary-button {
    color: var(--color-body);
    background-color: var(--color-surface);
}

.secondary-button-hover{
    color: var(--color-surface);
    background-color: var(--color-heading);
}
.secondary-button-active{
    color: var(--color-body);
    background-color: var(--color-notice);
}
.secondary-button-focus{
    color: var(--color-body);
    background-color: var(--color-notice);
    border: 3px solid var(--color-action);
}
form {
    display: flex;
    flex-direction: column;
}
label, legend {
    font-family: var(--display-font);
    font-size: calc(var(--scaled-font)*.8);
}

legend { font-weight: bold; font-variant: small-caps;}
input, select { padding: var(--base-font-size); }
input[type="checkbox"], input[type="radio"] {
    width: var(--scaled-font);
    height: var(--scaled-font);
}

button[type="submit"] {
    width: 50%;
    margin: var(--base-font-size) auto;
}

/* Table styling for mobile devices */
@media screen and (max-width:767px) {
    table, thead, tbody, tr, td, th {
		display: block;
        width: 100%;
	}

	thead tr {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	td {
		padding: var(--scaled-font) 0 var(--scaled-font) 45%;
		word-break: break-word;
		border: none;
		border-bottom: 1px solid var(--color-accent); 
		position: relative;
	}

	td:before {
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
        font-size: var(--base-font-size);
		font-weight: bold;
        font-family: var(--display-font);
        color: var(--color-heading);
	}

    table caption {
        display: block;
        text-align: center;
    }

	#tokens-table td:nth-of-type(1):before { content: 'Token Name';}
	#tokens-table td:nth-of-type(2):before { content: 'Rendered Value';}
	#tokens-table td:nth-of-type(3):before { content: 'Intended Usage';}

    #type-table td:nth-of-type(1):before { content: 'Type';}
	#type-table td:nth-of-type(2):before { content: 'Small Screen';}
	#type-table td:nth-of-type(3):before { content: 'Medium Screen';}
    #type-table td:nth-of-type(4):before { content: 'Large Screen';}

    button, .primary-button, .secondary-button {
        width: calc(var(--scaled-font) * 10);
    }
}
